__pycache__/
*.py[cod]
.coverage
.pytest_cache/
.ruff_cache/
build/
dist/
*.egg-info/
*docs/
**/.venv/
**/venv/
code/contracts/
code/test_service/generated/
*.bak
.vscode/
# Windows Mark of the Web metadata
*:Zone.Identifier
code/contracts/
code/test_service/generated/
