__pycache__/
*.py[cod]
.coverage
.pytest_cache/
.ruff_cache/
build/
dist/
*.egg-info/
*docs/
**/.venv/
**/venv/
*.bak
.vscode/
# Windows Mark of the Web metadata
*:Zone.Identifier
# Generated code directories
code/contracts/
.env
code/.sonar/

openapitools.json
